# export GL_TOKEN=...
# pip install -r requirements.txt --extra-index-url https://__token__:$GL_TOKEN@gitlab.com/api/v4/groups/inference/-/packages/pypi/simple
inference==1.0.1.dev1
structlog~=23.1.0
prometheus-client~=0.17.1
configparser~=6.0.0